<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <style>
        html,body{
            height:100%;

        }
</style>
</head>
<body>
<div class="container-fluid" style="min-height:90%">
    <div class="row">
        <div class="col-sm-2">
            <center><img src="{%static 'images/avatar.jpg'%}" class="responsive-img" style="max-height:200px;width:240px;object-fit:cover"></center>
        </div>
        <div class="col-sm-8">
            <center><h1>Blog làm từ django</h1></center>
        </div>
        <div class="col-sm-2">
            {%if user.username%}
            <span>Xin chào {{user.username}}</span>
            <p class="tag"><a href="{%url 'logout'%}">Đăng xuất</a></p>
            {%else%}
            <p><a href="{%url 'login'%}">Đăng nhập </a>| <a href="{%url 'register'%}">Đăng kí</a></p>

            {%endif%}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-2">
            <div class="bs-sliderbar">
                <ul class="nav flex-cloumn">
                    <li><a href="/">Thông tin cá nhân</a></li>
                    <li><a href="/blog">Bài viết</a></li>
                    <li><a href="{% url 'contact'%}">Liên hệ</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

</div>
<footer>
     <div class="container-fluid">
        <a target="_blank" href="https://facebook.com/bo.cuaban.7169">Facebook</a> | <a href="#">Twitter</a>
    </div>
</footer>


</body>
</html>