{% extends "pages/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<p>Liên Hệ: 0342682117</p>
<p>Email: bvminh101299@gmail.com</p>
<p><a href="https://facebook.com/bo.cuaban.7169">Facebook</a></p>


{% endblock %}