{%extends 'pages/base.html'%}
{%block title%}Đăng nhập{%endblock%}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            {%if user.username%}
            <script>window.location.href = "/";</script>
            {%else%}
            <form method="POST">
                {% csrf_token%}
                {%for key,value in form.errors.items%}
                {{value}}
                {%endfor%}
               <p><label>Tài khoản</label>{{form.username}}</p>
                <p><label>Mật khẩu</label>{{form.password}}</p>

                <input type="submit" value="Đăng nhập" class="form-control">
            </form>
            {%endif%}
        </div>
    </div>
</div>

{%endblock%}