{%extends 'pages/base.html'%}
{%block title%}Đăng kí{%endblock%}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            {%if user.username%}
            <script>window.location.href = "/";</script>
            {%else%}
            <form action="." method="POST">
                {% csrf_token%}
                {{form.as_p}}
                <input type="submit" value="Đăng kí" class="form-control">
            </form>
            {%endif%}
        </div>
    </div>
</div>

{%endblock%}