{%extends "pages/base.html"%}
{%block title%}blog{%endblock%}
{%block content%}
{%for post in Posts%}
<div class="container">
    <div class="row">
        <div class="col-md-2"><h4>{{post.data|date:"d-m-Y"}} </h4></div>

        <div class="col-md-2" style="padding-top:8px"><a href="{%url 'blog' post.id%}">{{post.title}}</a></div>
        <div class="col-md-2" style="padding-top:8px"><img src="{{post.image.url}}" class="img-responsive"></div>
    </div>
</div>
{%endfor%}
{%endblock%}