{%extends "pages/base.html"%}
{%block title%}{{post.title}}{%endblock%}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-2"><h6>{{post.data|date:"d-m-Y"}} </h6></div>

        <div class="col-md-4" style="padding-top:8px"><a href="{%url 'blog' post.id%}">{{post.title}}</a></div>
    </div>
    <div class="row">
        {{post.body|safe|linebreaks}}
    </div>
</div>
{%endblock%}